asgiref==3.8.1
Django==5.1.1
django-widget-tweaks==1.5.0
pillow==10.4.0
psycopg2-binary==2.9.9
djangorestframework==3.14.0
drf_yasg==1.21.8
setuptools
gunicorn==20.1.0
django-cors-headers==3.14.0
cryptography
django-filter
djangorestframework-simplejwt